// Available variales inherints from: 
// https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/client/style/config.styl

.site-name.site-name {
  display: none;
}

.nav-link.nav-link.action-button:hover {
  color:#fff;
}

.navbar {
  background-color: #282c34;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  display: flex;
}

.router-link-active {
  color: white !important;
  }

.nav-dropdown {
  .router-link-active {
  color: black !important;
  }
  }

  .sidebar {
  .router-link-active {
  color: #34ab6f !important;
  }
  }
.links {
  background-color: #282c34 !important;
  flex-grow: 1;
  color: white !important;
}

.dropdown-title:hover {
  color: grey !important;
}

.nav-links {
  a.repo-link:hover, .nav-item a.nav-link:hover {
    color: grey;
  }
}

.dropdown-item {
  color: black !important}

* {
  box-sizing: border-box;
}

.theme-default-content {
  margin: 0;
  min-width: 100%;
}

@media (min-width: $MQMobile) and (max-width: 1160px) {
  .theme-default-content, .page-edit {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 80% !important;
    margin: auto !important;
    min-width: inherit;
  }
}

@media (min-width: 1161px) {
  .page-edit.page-edit {
    width: 100%;
    max-width: none;
    margin: 0;
  }
}

.links {
    display: flex;
    justify-content: flex-end !important;
}

.white--dark {
  color: #dcd6d6 !important;
}

.white {
  color: white !important;
}
.bg-green {
  background-color: #34ab6f;
}

.bg-dark {
  background: #282c34;
}

.Tag {
  background: rgba(0, 0, 0, 0.05);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  margin-right: 6px;
  cursor pointer;
}
.Tag:hover {
  background-color: #34ab6f;
  color: white;
  }

.activeTag {
  background-color: #34ab6f;
  color: white;}

h1{
  text-align: center;
}

.external-link {
  position: relative;

  img {
    margin: 15px;
    width: 200px;
    max-height: 45px;
  }

  img + svg.icon.outbound { 
    display: none;
  }
}