.links {
    display: flex;
    justify-content: flex-end !important;
}

.white--dark {
  color: #dcd6d6 !important;
}

.white {
  color: white !important;
}
.bg-green {
  background-color: #34ab6f;
}

.bg-dark {
  background: #282c34;
}